.user{
	margin: 0px 0px 20px 30px;
	font-size: 40px;
}
.users-review{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #676f9d;
	margin: 20px 0px 10px 0px;
	padding: 0px 10px 0px 10px;
}
.flex-item{
	background-color: #424769;
	word-wrap: break-word;
	box-shadow: 0px 5px 20px #1f2029;
	margin: 10px 0px 20px 0px;
}
.flex-item:hover{
	border: 3px solid #676f9d;;
}
.review-username{
	font-size: 40px;
	border-bottom: 3px solid #676f9d;
}
.review-content{
	font-size: 25px;
}
.username{
	display: inline-block;
	font-size: 35px;
	margin: 0px 0px 0px 10px;
}
.review-text{
	margin: 10px 0px 0px 10px;
	font-size: 20px;
}
.review-product{
	font-size: 40px;
}
.product-brand{
	display: inline-block;
	color: white;
	text-decoration: underline;
}
.product-name{
	display: inline-block;
	color: white;
	text-decoration: underline;
}
.rating {
  display: inline-block;
  margin: 0px 0px 0px 20px;
}
.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}
.rating input:checked + label,
.rating input:checked + label ~ label {
  color: #6f00ff; /* Colore stelle selezionate */
}

/*.rating input:checked ~ label*/
/*.rating label:hover,*/
/*.rating label:hover ~ label {*/
/*  color: #6f00ff;*/
/*  transition: color 0.3s;*/
/*}*/
.star-filled {
  color: #6f00ff;
}