<!DOCTYPE html>
<html>

<head>
    <title>
        TrueFeedback
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main-style.css"/>
    <link rel="stylesheet" href="/css/topbar.css"/>
    <link rel="stylesheet" href="/css/login-icon.css"/>

    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
    <div class="topbar">
        <a class="title" href="/">
            TrueFeedback
        </a>
        <div class="categories-dropdown">
            <button class="dropdown-button">
                <i class="fas fa-bars"></i>
                <h1>Tutte le categorie</h1>
            </button>
            <div class="dropdown-content">
                <div th:each="category : ${categories}">
					<a th:href="@{'/category/' + ${category}}" th:text="${category}"></a>
				</div>
            </div>
        </div>
        <div class="search-container">
            <div class="search-bar">
                <form th:action="@{/search}" method="POST">
                    <input type="text" class="search-bar-input" name="keyword" placeholder="Cerca..." autocomplete="off">
                    <button class="search-bar-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="userInfo" th:if="${userDetails}">

                <a class="login-icon" href="/profile">
                    <i class="fas fa-user"></i>
				</a>
            </div>
            
            
            <div class="userInfo" th:unless="${userDetails}">
				<a class="login-icon" href="/login">
                    <i class="fas fa-user"></i>
				</a>
            </div>
        </div>


	<div class="content">
	    <div class="categories-container">
	        <div class="category-box" th:each="category : ${categories}">
	            <h1 th:text="${category}"></h1>
	            <div th:each="product, iterStat : ${products}">
	                <div th:if="${product.category.name() == category.name()}" th:unless="${iterStat.index > 0}">
	                    <a class="category-img" th:href="@{'/category/' + ${category}}">
	                        <img class="image" th:src="@{'data:image/jpeg;base64,' + ${product.image.generateBase64Image()}}" alt="Product Image"/>
	                    </a>
	                </div>
	            </div>
	            <div class="category-ref">
	                <a th:href="@{'/category/' + ${category}}">Scopri di più</a>
	            </div>
	        </div>
	    </div>
	</div>

</body>	

</html>