<!DOCTYPE html>
<html>

<head>
	<title>
		TrueFeedback
	</title>
	<link rel="stylesheet" href="/css/main-style.css"/>
	<link rel="stylesheet" href="/css/product.css"/>
	<link rel="stylesheet" href="/css/topbar.css"/>
</head>

<body>
	
<!--	    <div class="main-container">-->
            <div class="topbar">
        <a class="title" href="/">
            TrueFeedback
        </a>
        <div class="categories-dropdown">
            <button class="dropdown-button">
                <i class="fas fa-bars"></i>
                <h1>Tutte le categorie</h1>
            </button>
            <div class="dropdown-content">
                <div th:each="category : ${categories}">
					<a th:href="@{'/category/' + ${category}}" th:text="${category}"></a>
				</div>
            </div>
        </div>
        <div class="search-container">
            <div class="search-bar">
                <form th:action="@{/search}" method="POST">
                    <input type="text" class="search-bar-input" name="keyword" placeholder="Cerca..." autocomplete="off">
                    <button class="search-bar-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="userInfo" th:if="${userDetails}">

                <a class="login-icon" href="/profile">
					<img  src="/images/user-white.png" style="width: 60%;">
				</a>
            </div>
            
            <div th:unless="${userDetails}">
				<a class="login-icon" href="/login">
					<img  src="/images/login-white.png" style="width: 60%;">
				</a>
						 
            </div>
        </div>
	
	<div >
	
	<div class="product-container" th:if="${product}">
		
		<div class="product-name" th:text="${product.name}"></div>
		<div class="product-brand" >DeWALT</div>
		
		<div class="product-image">
			<img class="image" th:src="@{'data:image/jpeg; base64, '+${product.image.generateBase64Image()}}"></img>
			<div class="product-description" >
			<div class="stars">

								<div class="rating" >
									<input value="5" name="rating" id="star5" type="radio" th:checked="${averageRating == 5}" disabled>
								    <label for="star5"></label>
								    <input value="4" name="rating" id="star4" type="radio" th:checked="${averageRating >= 4 && averageRating < 5}" disabled>
								    <label for="star4"></label>
								    <input value="3" name="rating" id="star3" type="radio" th:checked="${averageRating >= 3 && averageRating < 4}" disabled>
								    <label for="star3"></label>
								    <input value="2" name="rating" id="star2" type="radio" th:checked="${averageRating >= 2 && averageRating < 3}" disabled>
								    <label for="star2"></label>
								    <input value="1" name="rating" id="star1" type="radio" th:checked="${averageRating >= 1 && averageRating < 2}" disabled>
								    <label for="star1"></label>
								    
								    
								    
								    
								</div>
								

			</div>
			<div class="text" th:text="${product.description}"></div>
			</div>
		</div>
		
		
		
		<div class="review-container">Recensioni
			
			<div class="reviews">
				
				<div class="add-review" >
					
					
					
					<div class="review-add-box">
						
						<div th:if="${userDetails}">
						
						Aggiungi la tua recensione
						
						<br>
						
							<a th:href="@{'/formNewReview/' + ${product.id}}">
								<button class="btn" type="submit">Aggiungi recensione</button>
							</a>
							
							
						</div>
										    
		    				
						<div th:unless="${userDetails}">
                    		<a href="/login" style="color: rgb(221, 221, 221);">Devi fare il login per recensire un prodotto</a>
                		</div>
						
						
						
					</div>
					
					
					
				</div>
					
						
						
						<div style="padding-top: 40px" th:if="${#lists.isEmpty(reviews)}">
							Non ci sono ancora recensioni per questo prodotto
						</div>
						
						<ul class="users-review">
					    <li class="users-review" th:each="review, iterStat : ${reviews}">
					        <div class="flex-item">
									
										<a class="username" th:href="@{'/user/' + ${review.nomeUtente}}">
											<div th:text="${review.nomeUtente}"></div>
										</a>
									
					            
					            <div class="rating">
					                <input value="5" th:name="'rating-' + ${iterStat.index}" th:id="'star5-' + ${iterStat.index}" type="radio" th:checked="${review.stars == 5}" disabled>
					                <label th:for="'star5-' + ${iterStat.index}"></label>
					                <input value="4" th:name="'rating-' + ${iterStat.index}" th:id="'star4-' + ${iterStat.index}" type="radio" th:checked="${review.stars == 4}" disabled>
					                <label th:for="'star4-' + ${iterStat.index}"></label>
					                <input value="3" th:name="'rating-' + ${iterStat.index}" th:id="'star3-' + ${iterStat.index}" type="radio" th:checked="${review.stars == 3}" disabled>
					                <label th:for="'star3-' + ${iterStat.index}"></label>
					                <input value="2" th:name="'rating-' + ${iterStat.index}" th:id="'star2-' + ${iterStat.index}" type="radio" th:checked="${review.stars == 2}" disabled>
					                <label th:for="'star2-' + ${iterStat.index}"></label>
					                <input value="1" th:name="'rating-' + ${iterStat.index}" th:id="'star1-' + ${iterStat.index}" type="radio" th:checked="${review.stars == 1}" disabled>
					                <label th:for="'star1-' + ${iterStat.index}"></label>
					            </div>
					            <div class="review-text" th:text="${review.descrizione}"></div>
					        </div>
					    </li>
					</ul>
						
			</div>
			
			
			
			
		</div>
		
		
			
	</div>
	</div>


<!--    </div>-->
    
    
    
    
</body>

</html>