<!DOCTYPE html>
<html>

<head>
    <title>
        TrueFeedback - Register
    </title>
    <link rel="stylesheet" href="/css/main-style.css"/>
    <link rel="stylesheet" href="/css/registerForm.css"/>
    <link rel="stylesheet" href="/css/topbar.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
</head>

<body>

<!--		<div class="main-container">-->
<!--<header>-->
    <div class="topbar">
        <a class="title" href="/">
            TrueFeedback
        </a>
        <div class="categories-dropdown">
            <button class="dropdown-button">
                <i class="fas fa-bars"></i>
                <h1>Tutte le categorie</h1>
            </button>
            <div class="dropdown-content">
                <div th:each="category : ${categories}">
					<a th:href="@{'/category/' + ${category}}" th:text="${category}"></a>
				</div>
            </div>
        </div>
        <div class="search-container">
            <div class="search-bar">
                <form th:action="@{/search}" method="POST">
                    <input type="text" class="search-bar-input" name="keyword" placeholder="Cerca..." autocomplete="off">
                    <button class="search-bar-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="userInfo" th:if="${userDetails}">

                <a class="login-icon" href="/profile">
					<img  src="/images/user-white.png" style="width: 60%;">
				</a>
            </div>
            
            
            <div th:unless="${userDetails}">
				<a class="login-icon" href="/login">
					<img  src="/images/login-white.png" style="width: 60%;">
				</a>
						 
            </div>
        </div>
	






<!--</header>-->


<div class="card">
  <h4 class="card-title">REGISTRATI</h4>
  <form th:action="@{/register}" method="POST">
	  <div class="field">
      <input placeholder="Name" class="input-field" name="name" type="text" required th:field="${user.name}">
    </div>
    <div class="field">
      <input placeholder="Surname" class="input-field" name="surname" type="text" required th:field="${user.surname}">
    </div>
    <div class="field">
      <input placeholder="Email" class="input-field" name="email" type="text" required th:field="${user.email}">
    </div>
    <div class="field">
      <input placeholder="Username" class="input-field" name="username" type="text" required th:field="${credentials.username}">
    </div>
    <div class="field">
      <input placeholder="Password" class="input-field" name="password" type="password" required th:field="${credentials.password}">
    </div>
    <button class="btn" type="submit">Registrati</button>
    <a href="/login" class="btn-link">Hai già un account?</a>
  </form>
</div>

<!--</div>-->


</body>

</html>